<select
    class="select2_single select2-hidden-accessible"
    onchange="showOther('');fields_Ga_Track('Sub caste - Filled');"
    style="width: px"
    tabindex="-1"
    name="subCaste"
    id="subCaste"
    onblur="popblur('subcaste','');"
    aria-hidden="true"
>
    <option value="0" selected="" title="-- Select --" alt="-- Select --">
        -- Select --
    </option>
    <option value="1468" title="Babboor Kamme" alt="Babboor Kamme">
        Babboor Kamme
    </option>
    <option value="1469" title="Badaganadu" alt="Badaganadu">Badaganadu</option>
    <option value="1470" title="Deshastha" alt="Deshastha">Deshastha</option>
    <option value="1471" title="Gowda Saraswat" alt="Gowda Saraswat">
        Gowda Saraswat
    </option>
    <option value="1472" title="Havyaka" alt="Havyaka">Havyaka</option>
    <option value="1473" title="Hoysala Karnataka" alt="Hoysala Karnataka">
        Hoysala Karnataka
    </option>
    <option value="1474" title="Kota Brahmin" alt="Kota Brahmin">
        Kota Brahmin
    </option>
    <option value="1475" title="Moogooru Karnataka" alt="Moogooru Karnataka">
        Moogooru Karnataka
    </option>
    <option value="1334" title="Mulukanadu" alt="Mulukanadu">Mulukanadu</option>
    <option value="1477" title="Sankethi" alt="Sankethi">Sankethi</option>
    <option
        value="1478"
        title="Shivalli Smarta Brahmins"
        alt="Shivalli Smarta Brahmins"
    >
        Shivalli Smarta Brahmins
    </option>
    <option
        value="1479"
        title="Shukla Yajurvedi Smartha Brahmins"
        alt="Shukla Yajurvedi Smartha Brahmins"
    >
        Shukla Yajurvedi Smartha Brahmins
    </option>
    <option value="1480" title="Sirinadu" alt="Sirinadu">Sirinadu</option>
    <option value="1481" title="Sthanika Brahmins" alt="Sthanika Brahmins">
        Sthanika Brahmins
    </option>
    <option value="1482" title="Ulucha Kamme" alt="Ulucha Kamme">
        Ulucha Kamme
    </option>
    <option value="9997" title="Others" alt="Others">Others</option>
    <option
        value="9998"
        title="Don't wish to specify"
        alt="Don't wish to specify"
    >
        Don't wish to specify
    </option>
    <option
        value="9999"
        title="Don't know my sub-caste"
        alt="Don't know my sub-caste"
    >
        Don't know my sub-caste
    </option>
</select>

<select
    class="select2_single select2-hidden-accessible"
    onchange="showOther('');fields_Ga_Track('Sub caste - Filled');"
    style="width: px"
    tabindex="-1"
    name="subCaste"
    id="subCaste"
    onblur="popblur('subcaste','');"
    aria-hidden="true"
>
    <option value="0" selected="" title="-- Select --" alt="-- Select --">
        -- Select --
    </option>
    <option value="1457" title="Koteshwara \ Kota" alt="Koteshwara \ Kota">
        Koteshwara \ Kota
    </option>
    <option value="1458" title="Raghavendra Swami" alt="Raghavendra Swami">
        Raghavendra Swami
    </option>
    <option value="1459" title="Shivalli" alt="Shivalli">Shivalli</option>
    <option value="1460" title="Shukla Yajurvedi" alt="Shukla Yajurvedi">
        Shukla Yajurvedi
    </option>
    <option value="1461" title="Sri Kanva" alt="Sri Kanva">Sri Kanva</option>
    <option value="1462" title="Sri Padarajaru" alt="Sri Padarajaru">
        Sri Padarajaru
    </option>
    <option value="1463" title="Sri Pejawara" alt="Sri Pejawara">
        Sri Pejawara
    </option>
    <option value="1464" title="Sri Rayaru" alt="Sri Rayaru">Sri Rayaru</option>
    <option value="1465" title="Sri Uttaradi" alt="Sri Uttaradi">
        Sri Uttaradi
    </option>
    <option value="1466" title="Sri Vysaraja" alt="Sri Vysaraja">
        Sri Vysaraja
    </option>
    <option value="9997" title="Others" alt="Others">Others</option>
    <option
        value="9998"
        title="Don't wish to specify"
        alt="Don't wish to specify"
    >
        Don't wish to specify
    </option>
    <option
        value="9999"
        title="Don't know my sub-caste"
        alt="Don't know my sub-caste"
    >
        Don't know my sub-caste
    </option>
</select>

star
<ul
    class="select2-results__options"
    role="tree"
    id="select2-star-results"
    style="overflow-y: hidden; outline: none"
    aria-expanded="true"
    aria-hidden="false"
    tabindex="1"
>
    <li
        class="select2-results__option select2-results__option--highlighted"
        id="select2-star-result-8olm-0"
        title="--- Select ---"
        role="treeitem"
        aria-selected="true"
    >
        --- Select ---
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-gttu-1"
        title="Aswini"
        role="treeitem"
        aria-selected="false"
    >
        Aswini
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-ed0g-2"
        title="Bharani"
        role="treeitem"
        aria-selected="false"
    >
        Bharani
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-w2p5-3"
        title="Kruthiga"
        role="treeitem"
        aria-selected="false"
    >
        Kruthiga
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-a93z-4"
        title="Rohini"
        role="treeitem"
        aria-selected="false"
    >
        Rohini
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-po7m-5"
        title="Mrigasira"
        role="treeitem"
        aria-selected="false"
    >
        Mrigasira
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-yg9j-6"
        title="Arudra"
        role="treeitem"
        aria-selected="false"
    >
        Arudra
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-rry4-7"
        title="Punarvasu"
        role="treeitem"
        aria-selected="false"
    >
        Punarvasu
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-5von-8"
        title="Pushya"
        role="treeitem"
        aria-selected="false"
    >
        Pushya
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-kgzt-9"
        title="Asilesha"
        role="treeitem"
        aria-selected="false"
    >
        Asilesha
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-kunc-10"
        title="Makhe"
        role="treeitem"
        aria-selected="false"
    >
        Makhe
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-fkws-11"
        title="Pubbhe"
        role="treeitem"
        aria-selected="false"
    >
        Pubbhe
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-19ae-12"
        title="Uthre"
        role="treeitem"
        aria-selected="false"
    >
        Uthre
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-7aja-13"
        title="Hastha"
        role="treeitem"
        aria-selected="false"
    >
        Hastha
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-4xnh-14"
        title="Chitha"
        role="treeitem"
        aria-selected="false"
    >
        Chitha
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-k76m-15"
        title="Swathi"
        role="treeitem"
        aria-selected="false"
    >
        Swathi
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-9qf6-16"
        title="Visaka"
        role="treeitem"
        aria-selected="false"
    >
        Visaka
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-efke-17"
        title="Anuradha"
        role="treeitem"
        aria-selected="false"
    >
        Anuradha
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-4yzp-18"
        title="Jyeshta"
        role="treeitem"
        aria-selected="false"
    >
        Jyeshta
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-o7rk-19"
        title="Moola"
        role="treeitem"
        aria-selected="false"
    >
        Moola
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-u92f-20"
        title="Poorvashada"
        role="treeitem"
        aria-selected="false"
    >
        Poorvashada
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-na4h-21"
        title="Uthrashada"
        role="treeitem"
        aria-selected="false"
    >
        Uthrashada
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-w0r6-22"
        title="Sravana"
        role="treeitem"
        aria-selected="false"
    >
        Sravana
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-f9wx-23"
        title="Dhanishta"
        role="treeitem"
        aria-selected="false"
    >
        Dhanishta
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-z9om-24"
        title="Stabhishek"
        role="treeitem"
        aria-selected="false"
    >
        Stabhishek
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-hqu3-25"
        title="Poorvabhadra"
        role="treeitem"
        aria-selected="false"
    >
        Poorvabhadra
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-711t-26"
        title="Uthirabhadra"
        role="treeitem"
        aria-selected="false"
    >
        Uthirabhadra
    </li>
    <li
        class="select2-results__option"
        id="select2-star-result-en1c-27"
        title="Revathi"
        role="treeitem"
        aria-selected="false"
    >
        Revathi
    </li>
</ul>

<ul
    class="select2-results__options"
    role="tree"
    id="select2-raasi-results"
    style="overflow-y: hidden; outline: none"
    aria-expanded="true"
    aria-hidden="false"
    tabindex="2"
>
    <li
        class="select2-results__option select2-results__option--highlighted"
        id="select2-raasi-result-liey-0"
        role="treeitem"
        aria-selected="true"
    >
        --Select--
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-60sw-1"
        role="treeitem"
        aria-selected="false"
    >
        Dhanu (Sagittarius)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-3zv1-2"
        role="treeitem"
        aria-selected="false"
    >
        Kanya (Virgo)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-qf01-3"
        role="treeitem"
        aria-selected="false"
    >
        Kark (Cancer)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-vrb6-4"
        role="treeitem"
        aria-selected="false"
    >
        Kumbh (Aquarius)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-zdn4-5"
        role="treeitem"
        aria-selected="false"
    >
        Makar (Capricorn)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-jsz1-6"
        role="treeitem"
        aria-selected="false"
    >
        Meen (Pisces)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-9f9a-7"
        role="treeitem"
        aria-selected="false"
    >
        Mesh (Aries)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-io3x-8"
        role="treeitem"
        aria-selected="false"
    >
        Mithun (Gemini)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-xf0y-9"
        role="treeitem"
        aria-selected="false"
    >
        Simha (Leo)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-ef87-10"
        role="treeitem"
        aria-selected="false"
    >
        Tula (Libra)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-6aen-11"
        role="treeitem"
        aria-selected="false"
    >
        Vrishabh (Taurus)
    </li>
    <li
        class="select2-results__option"
        id="select2-raasi-result-h783-12"
        role="treeitem"
        aria-selected="false"
    >
        Vrishchik (Scorpio)
    </li>
</ul>

<ul
    class="select2-results__options"
    role="tree"
    id="select2-gothram-results"
    style="overflow-y: hidden; outline: none"
    aria-expanded="true"
    aria-hidden="false"
    tabindex="3"
>
    <li
        class="select2-results__option select2-results__option--highlighted"
        id="select2-gothram-result-8l5s-0"
        title="--- Select ---"
        role="treeitem"
        aria-selected="true"
    >
        --- Select ---
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-vx0w-1"
        title="Aatharvas"
        role="treeitem"
        aria-selected="false"
    >
        Aatharvas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-aoyx-2"
        title="Agasthi"
        role="treeitem"
        aria-selected="false"
    >
        Agasthi
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-z044-3"
        title="Ahabhunasa"
        role="treeitem"
        aria-selected="false"
    >
        Ahabhunasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-cq9p-4"
        title="Alampayana"
        role="treeitem"
        aria-selected="false"
    >
        Alampayana
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-ov2n-6"
        title="Angiras"
        role="treeitem"
        aria-selected="false"
    >
        Angiras
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-k01r-7"
        title="Arrishinimi"
        role="treeitem"
        aria-selected="false"
    >
        Arrishinimi
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-3ktm-8"
        title="Athreyasya"
        role="treeitem"
        aria-selected="false"
    >
        Athreyasya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-wzcl-9"
        title="Atri"
        role="treeitem"
        aria-selected="false"
    >
        Atri
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-5fbu-10"
        title="Attarishi"
        role="treeitem"
        aria-selected="false"
    >
        Attarishi
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-p90w-11"
        title="Aukshanas"
        role="treeitem"
        aria-selected="false"
    >
        Aukshanas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-vzsz-13"
        title="Aushanas"
        role="treeitem"
        aria-selected="false"
    >
        Aushanas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-fe5e-14"
        title="Babrahvya"
        role="treeitem"
        aria-selected="false"
    >
        Babrahvya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-73gp-15"
        title="Badarayana"
        role="treeitem"
        aria-selected="false"
    >
        Badarayana
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-kjs0-17"
        title="Baijvayas"
        role="treeitem"
        aria-selected="false"
    >
        Baijvayas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-samy-18"
        title="Bashan"
        role="treeitem"
        aria-selected="false"
    >
        Bashan
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-rwbq-20"
        title="Bharadwaj"
        role="treeitem"
        aria-selected="false"
    >
        Bharadwaj
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-sqyb-22"
        title="Bhargava"
        role="treeitem"
        aria-selected="false"
    >
        Bhargava
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-mk1w-24"
        title="Bhasyan"
        role="treeitem"
        aria-selected="false"
    >
        Bhasyan
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-mqzw-25"
        title="Bhrigu"
        role="treeitem"
        aria-selected="false"
    >
        Bhrigu
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-7xey-26"
        title="Birthare"
        role="treeitem"
        aria-selected="false"
    >
        Birthare
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-8bpl-27"
        title="Bodhaaynas"
        role="treeitem"
        aria-selected="false"
    >
        Bodhaaynas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-3mal-28"
        title="Chandratri"
        role="treeitem"
        aria-selected="false"
    >
        Chandratri
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-h5m2-29"
        title="Chikithasa"
        role="treeitem"
        aria-selected="false"
    >
        Chikithasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-11vr-30"
        title="Chyavanasa"
        role="treeitem"
        aria-selected="false"
    >
        Chyavanasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-ntor-33"
        title="Daksa"
        role="treeitem"
        aria-selected="false"
    >
        Daksa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-xsk0-34"
        title="Dalabhya"
        role="treeitem"
        aria-selected="false"
    >
        Dalabhya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-0t1y-35"
        title="Darbhas"
        role="treeitem"
        aria-selected="false"
    >
        Darbhas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-rytz-36"
        title="Devrata"
        role="treeitem"
        aria-selected="false"
    >
        Devrata
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-37ci-37"
        title="Dhananjaya"
        role="treeitem"
        aria-selected="false"
    >
        Dhananjaya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-p15p-38"
        title="Dhanvantri"
        role="treeitem"
        aria-selected="false"
    >
        Dhanvantri
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-3mas-39"
        title="Dhara Gautam"
        role="treeitem"
        aria-selected="false"
    >
        Dhara Gautam
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-s758-40"
        title="Dharanas"
        role="treeitem"
        aria-selected="false"
    >
        Dharanas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-4s6j-41"
        title="Dixit"
        role="treeitem"
        aria-selected="false"
    >
        Dixit
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-xkdx-42"
        title="Duttatreyas"
        role="treeitem"
        aria-selected="false"
    >
        Duttatreyas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-nh9j-44"
        title="Galiva"
        role="treeitem"
        aria-selected="false"
    >
        Galiva
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-v079-45"
        title="Ganganas"
        role="treeitem"
        aria-selected="false"
    >
        Ganganas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-y8tg-46"
        title="Gangyanas"
        role="treeitem"
        aria-selected="false"
    >
        Gangyanas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-f8aq-47"
        title="Garga"
        role="treeitem"
        aria-selected="false"
    >
        Garga
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-c8m8-48"
        title="Gargya Sainasa"
        role="treeitem"
        aria-selected="false"
    >
        Gargya Sainasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-2y79-49"
        title="Gautam"
        role="treeitem"
        aria-selected="false"
    >
        Gautam
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-l6xh-50"
        title="Ghrit Kaushika"
        role="treeitem"
        aria-selected="false"
    >
        Ghrit Kaushika
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-7rn2-52"
        title="Gowri Veetham"
        role="treeitem"
        aria-selected="false"
    >
        Gowri Veetham
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-2dcx-53"
        title="Haritasya"
        role="treeitem"
        aria-selected="false"
    >
        Haritasya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-l0ck-55"
        title="Jaiminiyas"
        role="treeitem"
        aria-selected="false"
    >
        Jaiminiyas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-7gu1-56"
        title="Jamadagni"
        role="treeitem"
        aria-selected="false"
    >
        Jamadagni
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-908a-57"
        title="Jatukarna"
        role="treeitem"
        aria-selected="false"
    >
        Jatukarna
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-pesi-58"
        title="Kaakavas"
        role="treeitem"
        aria-selected="false"
    >
        Kaakavas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-7m8z-60"
        title="Kabi"
        role="treeitem"
        aria-selected="false"
    >
        Kabi
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-1wuh-61"
        title="Kalabouddasa"
        role="treeitem"
        aria-selected="false"
    >
        Kalabouddasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-2qd5-62"
        title="Kalpangeerasa"
        role="treeitem"
        aria-selected="false"
    >
        Kalpangeerasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-mqhv-63"
        title="Kamakayana Vishwamitra"
        role="treeitem"
        aria-selected="false"
    >
        Kamakayana Vishwamitra
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-4pd1-64"
        title="Kamsa"
        role="treeitem"
        aria-selected="false"
    >
        Kamsa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-m0xt-65"
        title="Kanav"
        role="treeitem"
        aria-selected="false"
    >
        Kanav
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-y636-66"
        title="Kanva"
        role="treeitem"
        aria-selected="false"
    >
        Kanva
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-uikv-67"
        title="Kapi"
        role="treeitem"
        aria-selected="false"
    >
        Kapi
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-wcv0-68"
        title="Kapila Baradwaj"
        role="treeitem"
        aria-selected="false"
    >
        Kapila Baradwaj
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-l7cd-69"
        title="Kapinjal"
        role="treeitem"
        aria-selected="false"
    >
        Kapinjal
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-hgj0-70"
        title="Kapishthalas"
        role="treeitem"
        aria-selected="false"
    >
        Kapishthalas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-9r6y-71"
        title="Kaplish"
        role="treeitem"
        aria-selected="false"
    >
        Kaplish
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-ac6s-72"
        title="Kashish"
        role="treeitem"
        aria-selected="false"
    >
        Kashish
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-cyv0-73"
        title="Kashyapa"
        role="treeitem"
        aria-selected="false"
    >
        Kashyapa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-ohet-74"
        title="Katyayan"
        role="treeitem"
        aria-selected="false"
    >
        Katyayan
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-55fs-75"
        title="Kaundinya"
        role="treeitem"
        aria-selected="false"
    >
        Kaundinya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-yp63-76"
        title="Kaunsa"
        role="treeitem"
        aria-selected="false"
    >
        Kaunsa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-dhmd-77"
        title="Kaushal"
        role="treeitem"
        aria-selected="false"
    >
        Kaushal
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-dl00-78"
        title="Kaushika"
        role="treeitem"
        aria-selected="false"
    >
        Kaushika
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-soty-79"
        title="Keshoryas"
        role="treeitem"
        aria-selected="false"
    >
        Keshoryas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-o29q-80"
        title="Koushika Visvamitrasa"
        role="treeitem"
        aria-selected="false"
    >
        Koushika Visvamitrasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-od2a-82"
        title="Krishnatrey"
        role="treeitem"
        aria-selected="false"
    >
        Krishnatrey
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-zen7-84"
        title="Kusa"
        role="treeitem"
        aria-selected="false"
    >
        Kusa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-19nf-85"
        title="Kutsa"
        role="treeitem"
        aria-selected="false"
    >
        Kutsa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-t29q-86"
        title="Laakshmanas"
        role="treeitem"
        aria-selected="false"
    >
        Laakshmanas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-6oww-87"
        title="Laugakshi"
        role="treeitem"
        aria-selected="false"
    >
        Laugakshi
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-kst7-88"
        title="Lavania"
        role="treeitem"
        aria-selected="false"
    >
        Lavania
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-t8pv-89"
        title="Lodwan"
        role="treeitem"
        aria-selected="false"
    >
        Lodwan
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-gsme-90"
        title="Lohit"
        role="treeitem"
        aria-selected="false"
    >
        Lohit
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-1578-91"
        title="Lokaakhyas"
        role="treeitem"
        aria-selected="false"
    >
        Lokaakhyas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-5qiy-92"
        title="Lomasha"
        role="treeitem"
        aria-selected="false"
    >
        Lomasha
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-zdtk-93"
        title="Madelia"
        role="treeitem"
        aria-selected="false"
    >
        Madelia
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-k98u-94"
        title="Maitraya"
        role="treeitem"
        aria-selected="false"
    >
        Maitraya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-trm0-95"
        title="Manava"
        role="treeitem"
        aria-selected="false"
    >
        Manava
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-bkcs-96"
        title="Mandavya"
        role="treeitem"
        aria-selected="false"
    >
        Mandavya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-ej1x-97"
        title="Marica"
        role="treeitem"
        aria-selected="false"
    >
        Marica
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-qlln-98"
        title="Markendeya"
        role="treeitem"
        aria-selected="false"
    >
        Markendeya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-a1zj-100"
        title="Maudlas"
        role="treeitem"
        aria-selected="false"
    >
        Maudlas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-c61o-101"
        title="Maunas"
        role="treeitem"
        aria-selected="false"
    >
        Maunas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-lrdt-102"
        title="Mihir"
        role="treeitem"
        aria-selected="false"
    >
        Mihir
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-54a8-104"
        title="Moudgalya"
        role="treeitem"
        aria-selected="false"
    >
        Moudgalya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-1tub-105"
        title="Mouna Bhargava"
        role="treeitem"
        aria-selected="false"
    >
        Mouna Bhargava
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-bf35-106"
        title="Munish"
        role="treeitem"
        aria-selected="false"
    >
        Munish
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-xb2u-107"
        title="Mythravaruna"
        role="treeitem"
        aria-selected="false"
    >
        Mythravaruna
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-037i-108"
        title="Nagasya"
        role="treeitem"
        aria-selected="false"
    >
        Nagasya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-aiz4-109"
        title="Naidrupa Kashyapa"
        role="treeitem"
        aria-selected="false"
    >
        Naidrupa Kashyapa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-wiv7-111"
        title="Narayanas"
        role="treeitem"
        aria-selected="false"
    >
        Narayanas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-kym1-112"
        title="Nithyandala"
        role="treeitem"
        aria-selected="false"
    >
        Nithyandala
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-iih0-114"
        title="Paaniyas"
        role="treeitem"
        aria-selected="false"
    >
        Paaniyas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-8viz-115"
        title="Pachori"
        role="treeitem"
        aria-selected="false"
    >
        Pachori
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-epqx-116"
        title="Paing"
        role="treeitem"
        aria-selected="false"
    >
        Paing
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-v7wq-117"
        title="Parashara"
        role="treeitem"
        aria-selected="false"
    >
        Parashara
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-mkjv-119"
        title="Parthivasa"
        role="treeitem"
        aria-selected="false"
    >
        Parthivasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-00cn-120"
        title="Paulastya"
        role="treeitem"
        aria-selected="false"
    >
        Paulastya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-2vsb-121"
        title="Poothamanasa"
        role="treeitem"
        aria-selected="false"
    >
        Poothamanasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-8c9k-122"
        title="Pourugutsa"
        role="treeitem"
        aria-selected="false"
    >
        Pourugutsa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-9g9z-123"
        title="Prachinas"
        role="treeitem"
        aria-selected="false"
    >
        Prachinas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-pnsm-125"
        title="Raghuvanshi"
        role="treeitem"
        aria-selected="false"
    >
        Raghuvanshi
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-qkkr-127"
        title="Rajoria"
        role="treeitem"
        aria-selected="false"
    >
        Rajoria
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-muw4-128"
        title="Rathitar"
        role="treeitem"
        aria-selected="false"
    >
        Rathitar
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-f18z-130"
        title="Rohinya"
        role="treeitem"
        aria-selected="false"
    >
        Rohinya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-y5lc-131"
        title="Rohita"
        role="treeitem"
        aria-selected="false"
    >
        Rohita
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-grgy-134"
        title="Sakalya"
        role="treeitem"
        aria-selected="false"
    >
        Sakalya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-24xt-135"
        title="Sakhyanasa"
        role="treeitem"
        aria-selected="false"
    >
        Sakhyanasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-5j61-136"
        title="Salankayanasa"
        role="treeitem"
        aria-selected="false"
    >
        Salankayanasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-6oh4-137"
        title="Sankash"
        role="treeitem"
        aria-selected="false"
    >
        Sankash
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-4dct-138"
        title="Sankha-Pingala-Kausta"
        role="treeitem"
        aria-selected="false"
    >
        Sankha-Pingala-Kausta
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-76av-139"
        title="Sankrut"
        role="treeitem"
        aria-selected="false"
    >
        Sankrut
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-uygl-140"
        title="Sankyanasa"
        role="treeitem"
        aria-selected="false"
    >
        Sankyanasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-er1j-141"
        title="Savanaka"
        role="treeitem"
        aria-selected="false"
    >
        Savanaka
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-n8d6-142"
        title="Savarana"
        role="treeitem"
        aria-selected="false"
    >
        Savarana
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-adyr-143"
        title="Shaalaksha"
        role="treeitem"
        aria-selected="false"
    >
        Shaalaksha
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-lnby-145"
        title="Shadamarshana"
        role="treeitem"
        aria-selected="false"
    >
        Shadamarshana
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-v10i-146"
        title="Shakhanas"
        role="treeitem"
        aria-selected="false"
    >
        Shakhanas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-x9rl-147"
        title="Shalavatsa"
        role="treeitem"
        aria-selected="false"
    >
        Shalavatsa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-4us0-148"
        title="Shandilya"
        role="treeitem"
        aria-selected="false"
    >
        Shandilya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-pyc5-149"
        title="Sharkaras"
        role="treeitem"
        aria-selected="false"
    >
        Sharkaras
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-a1bl-150"
        title="Sharkvas"
        role="treeitem"
        aria-selected="false"
    >
        Sharkvas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-h1k4-151"
        title="Shaunak"
        role="treeitem"
        aria-selected="false"
    >
        Shaunak
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-h3qf-152"
        title="Shravanesya"
        role="treeitem"
        aria-selected="false"
    >
        Shravanesya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-3171-154"
        title="Shukla Atreyas"
        role="treeitem"
        aria-selected="false"
    >
        Shukla Atreyas
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-5gbm-155"
        title="Sigidha"
        role="treeitem"
        aria-selected="false"
    >
        Sigidha
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-7y61-156"
        title="Srungi Bharadwajasa"
        role="treeitem"
        aria-selected="false"
    >
        Srungi Bharadwajasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-yz4u-157"
        title="Suparnasa"
        role="treeitem"
        aria-selected="false"
    >
        Suparnasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-y1y8-158"
        title="Swathantra Kapisa"
        role="treeitem"
        aria-selected="false"
    >
        Swathantra Kapisa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-qhqq-159"
        title="Tharakayanam"
        role="treeitem"
        aria-selected="false"
    >
        Tharakayanam
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-173t-160"
        title="Titwal"
        role="treeitem"
        aria-selected="false"
    >
        Titwal
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-3xkh-163"
        title="Tushar"
        role="treeitem"
        aria-selected="false"
    >
        Tushar
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-f3u5-164"
        title="Udbahu"
        role="treeitem"
        aria-selected="false"
    >
        Udbahu
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-exxr-165"
        title="Udhalaka"
        role="treeitem"
        aria-selected="false"
    >
        Udhalaka
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-g6kl-166"
        title="Uditha Gautham"
        role="treeitem"
        aria-selected="false"
    >
        Uditha Gautham
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-pm7v-167"
        title="Udithya"
        role="treeitem"
        aria-selected="false"
    >
        Udithya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-i2bl-168"
        title="Upamanyu"
        role="treeitem"
        aria-selected="false"
    >
        Upamanyu
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-b56d-169"
        title="Upamanyu Vasishtasa"
        role="treeitem"
        aria-selected="false"
    >
        Upamanyu Vasishtasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-fua1-170"
        title="Upathya"
        role="treeitem"
        aria-selected="false"
    >
        Upathya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-0l20-171"
        title="Vadoola"
        role="treeitem"
        aria-selected="false"
    >
        Vadoola
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-3w39-173"
        title="Vainya"
        role="treeitem"
        aria-selected="false"
    >
        Vainya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-p5qd-175"
        title="Vardheyasa"
        role="treeitem"
        aria-selected="false"
    >
        Vardheyasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-2604-177"
        title="Vashishtha"
        role="treeitem"
        aria-selected="false"
    >
        Vashishtha
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-jhsc-178"
        title="Sri Vatsa"
        role="treeitem"
        aria-selected="false"
    >
        Sri Vatsa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-qzgy-180"
        title="Veethahavya"
        role="treeitem"
        aria-selected="false"
    >
        Veethahavya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-02y3-182"
        title="Vishnordhageerasa"
        role="treeitem"
        aria-selected="false"
    >
        Vishnordhageerasa
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-x234-183"
        title="Vishnu Vridhha"
        role="treeitem"
        aria-selected="false"
    >
        Vishnu Vridhha
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-4tjl-184"
        title="Vishwamitra"
        role="treeitem"
        aria-selected="false"
    >
        Vishwamitra
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-2uh8-187"
        title="Yaska"
        role="treeitem"
        aria-selected="false"
    >
        Yaska
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-uld9-188"
        title="Shrimukh Shandilya"
        role="treeitem"
        aria-selected="false"
    >
        Shrimukh Shandilya
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-2lzg-9997"
        title="Others"
        role="treeitem"
        aria-selected="false"
    >
        Others
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-evqn-9998"
        title="Don't wish to specify"
        role="treeitem"
        aria-selected="false"
    >
        Don't wish to specify
    </li>
    <li
        class="select2-results__option"
        id="select2-gothram-result-azmb-9999"
        title="Don't know my gothra(m)"
        role="treeitem"
        aria-selected="false"
    >
        Don't know my gothra(m)
    </li>
</ul>


	Bachelor of Arts (B.A)
	Bachelor of Arts Bachelor of Education (B.A. B.Ed)
	Bachelor of Arts Bachelor of Law (B.A.B.L)
	Bachelor of Arts Bachelor of Law (B.A.LLB)
	Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)
	Bachelor of Applied Sciences (B.A.S)
	Bachelor of Arts (B.A.S.L.P)
	Bachelor of Audiology and Speech Language Pathology (B.A.S.L.P)
	Bachelor of Architecture (B.Arch)
	Bachelor of Business Administration (B.B.A)
	Bachelor of Business Administration Bachelor of Law (B.B.A LL.B)
	Bachelor of Business Management (B.B.M)
	Bachelor of Business Studies (B.B.S)
	Bachelor of Computer Applications (B.C.A)
	Bachelor of Communication Journalism (B.C.J)
	Bachelor of Computer Science (B.C.S)
	Bachelor of Commerce (B.Com)
	Bachelor of Divinity (B.D)
	Bachelor of Dental Surgery (B.D.S)
	Basic Development Therapy (B.D.T)
	Bachelor of Design (B.Des)
	Bachelor of Engineering (B.E)
	Bachelor of Electronic Science (B.E.S)
	Bachelor of Education (B.Ed)
	Bachelor of education in Artificial Intelligence (B.Ed AI)
	Bachelor of Education (B.EdQ)
	Bachelor of Elementary Education (B.EI.ED)
	Bachelor of Elementary Education (B.EL.Ed)
	Bachelor of Fine Arts (B.F.A)
	Bachelor of Financial Investment and Analysis (B.F.I.A)
	Bachelor of Fishery Sciences (B.F.S)
	Bachelor of Fashion Technology (B.F.Tech)
	Bachelor of General Law (B.G.L)
	Behavioral Healthcare Education (B.H.Ed)
	Bachelor of Hotel Management (B.H.M)
	Bachelor Hotel Management and Catering Technology (B.H.M.C.T)
	Bachelor of Homeopathic Medicine & Surgery (B.H.M.S)
	Bachelor of Hospitality and Tourism Management (B.H.T.M)
	Bachelor of Information Systems Management (B.I.S.M)
	Bachelor of Laws (B.L)
	Bachelor of Library and Information Science (B.L.I.S)
	Bachelor of Labour Management (B.L.M)
	Bachelor Library Science (B.L.Sc)
	Bachelor of Literature (B.Lit)
	Bachelor of Medical Laboratory Technology (B.M.L.T)
	Bachelor of Mental Retardation (B.M.R)
	Bachelor of Medical Record Science (B.M.R.Sc)
	Bachelor in Mobility Science (B.M.Sc)
	Bachelor of Mobility Science (B.M.Sc)
	Bachelor of Medical Technology (B.M.T)
	Bachelor of Naturopathy and Yogic Sciences (B.N.Y.Sc)
	Bachelor of Occupational Therapy (B.O.T)
	Bachelor of Occupational Therapy (B.O.Th)
	Bachelor of Optometry and Vision Science (B.Optom)
	Bachelor of Physical Education (B.P.E)
	Bachelor Of Physical Education (B.P.Ed)
	Bachelor in Prosthetics and Orthotics (B.P.O)
	Bachelor of Public Relations (B.P.R)
	Bachelor of Physiotherapy (B.P.T)
	Bachelor of Pharmacy (B.Pharma)
	Bachelor of Rehabilitation Therapy (B.R.T)
	Bachelor of Science (B.S)
	Bachelor in Science Education (B.S.E)
	Bachelor of Speech Language & Audiology (B.S.L.A)
	Bachelor of Socio Legal Sciences Bachelor of Laws (B.S.L.LL.B)
	Bachelor of Siddha Medical Sciences (B.S.M.S)
	Bachelor Of Social Work (B.S.W)
	Bachelor of Science (B.Sc)
	Bachelor of Science Bachelor of Education (B.Sc.B.Ed)
	Bachelor of Science in Education (B.Sc.Ed)
	Bachelor of Tourism Administration (B.T.A)
	Basic Training Certificate (B.T.C)
	Bachelor of Technology (B.Tech)
	Bachelors of Technology (B.Tech)
	Bachelor of Unani Medicine & Surgery (B.U.M.S)
	Bachelor of Veterinary Science (B.V.Sc)
	Bachelor of Medicine (Bachelor of Medicine)
	Bachelor of Journalism and Mass Communication (BJMC)
	Diploma in Special Education (D.S.E (CP))
	Bachelor of Unani Medicine & Surgery (Kamil e Tob o Jarahat)
	Bachelor of Law (LL.B)
	Bachelor of Medicine Bachelor of Surgery (M.B.B.S)
	Master of Journalism and Mass Communication (MJMC)
	Doctor of Philosophy (Ph. D)
	Clinical Psychology (Psy.D (Cl.Psy))

    "	Bachelor of Arts (B.A)	"	,
"	    Bachelor of Arts Bachelor of Education (B.A. B.Ed)	"	,
"	    Bachelor of Arts Bachelor of Law (B.A.B.L)	"	,
"	    Bachelor of Arts Bachelor of Law (B.A.LLB)	"	,
"	    Bachelor of Ayurvedic Medicine and Surgery (B.A.M.S)	"	,
"	    Bachelor of Applied Sciences (B.A.S)	"	,
"	    Bachelor of Arts (B.A.S.L.P)	"	,
"	    Bachelor of Audiology and Speech Language Pathology (B.A.S.L.P)	"	,
"	    Bachelor of Architecture (B.Arch)	"	,
"	    Bachelor of Business Administration (B.B.A)	"	,
"	    Bachelor of Business Administration Bachelor of Law (B.B.A LL.B)	"	,
"	    Bachelor of Business Management (B.B.M)	"	,
"	    Bachelor of Business Studies (B.B.S)	"	,
"	    Bachelor of Computer Applications (B.C.A)	"	,
"	    Bachelor of Communication Journalism (B.C.J)	"	,
"	    Bachelor of Computer Science (B.C.S)	"	,
"	    Bachelor of Commerce (B.Com)	"	,
"	    Bachelor of Divinity (B.D)	"	,
"	    Bachelor of Dental Surgery (B.D.S)	"	,
"	    Basic Development Therapy (B.D.T)	"	,
"	    Bachelor of Design (B.Des)	"	,
"	    Bachelor of Engineering (B.E)	"	,
"	    Bachelor of Electronic Science (B.E.S)	"	,
"	    Bachelor of Education (B.Ed)	"	,
"	    Bachelor of education in Artificial Intelligence (B.Ed AI)	"	,
"	    Bachelor of Education (B.EdQ)	"	,
"	    Bachelor of Elementary Education (B.EI.ED)	"	,
"	    Bachelor of Elementary Education (B.EL.Ed)	"	,
"	    Bachelor of Fine Arts (B.F.A)	"	,
"	    Bachelor of Financial Investment and Analysis (B.F.I.A)	"	,
"	    Bachelor of Fishery Sciences (B.F.S)	"	,
"	    Bachelor of Fashion Technology (B.F.Tech)	"	,
"	    Bachelor of General Law (B.G.L)	"	,
"	    Behavioral Healthcare Education (B.H.Ed)	"	,
"	    Bachelor of Hotel Management (B.H.M)	"	,
"	    Bachelor Hotel Management and Catering Technology (B.H.M.C.T)	"	,
"	    Bachelor of Homeopathic Medicine & Surgery (B.H.M.S)	"	,
"	    Bachelor of Hospitality and Tourism Management (B.H.T.M)	"	,
"	    Bachelor of Information Systems Management (B.I.S.M)	"	,
"	    Bachelor of Laws (B.L)	"	,
"	    Bachelor of Library and Information Science (B.L.I.S)	"	,
"	    Bachelor of Labour Management (B.L.M)	"	,
"	    Bachelor Library Science (B.L.Sc)	"	,
"	    Bachelor of Literature (B.Lit)	"	,
"	    Bachelor of Medical Laboratory Technology (B.M.L.T)	"	,
"	    Bachelor of Mental Retardation (B.M.R)	"	,
"	    Bachelor of Medical Record Science (B.M.R.Sc)	"	,
"	    Bachelor in Mobility Science (B.M.Sc)	"	,
"	    Bachelor of Mobility Science (B.M.Sc)	"	,
"	    Bachelor of Medical Technology (B.M.T)	"	,
"	    Bachelor of Naturopathy and Yogic Sciences (B.N.Y.Sc)	"	,
"	    Bachelor of Occupational Therapy (B.O.T)	"	,
"	    Bachelor of Occupational Therapy (B.O.Th)	"	,
"	    Bachelor of Optometry and Vision Science (B.Optom)	"	,
"	    Bachelor of Physical Education (B.P.E)	"	,
"	    Bachelor Of Physical Education (B.P.Ed)	"	,
"	    Bachelor in Prosthetics and Orthotics (B.P.O)	"	,
"	    Bachelor of Public Relations (B.P.R)	"	,
"	    Bachelor of Physiotherapy (B.P.T)	"	,
"	    Bachelor of Pharmacy (B.Pharma)	"	,
"	    Bachelor of Rehabilitation Therapy (B.R.T)	"	,
"	    Bachelor of Science (B.S)	"	,
"	    Bachelor in Science Education (B.S.E)	"	,
"	    Bachelor of Speech Language & Audiology (B.S.L.A)	"	,
"	    Bachelor of Socio Legal Sciences Bachelor of Laws (B.S.L.LL.B)	"	,
"	    Bachelor of Siddha Medical Sciences (B.S.M.S)	"	,
"	    Bachelor Of Social Work (B.S.W)	"	,
"	    Bachelor of Science (B.Sc)	"	,
"	    Bachelor of Science Bachelor of Education (B.Sc.B.Ed)	"	,
"	    Bachelor of Science in Education (B.Sc.Ed)	"	,
"	    Bachelor of Tourism Administration (B.T.A)	"	,
"	    Basic Training Certificate (B.T.C)	"	,
"	    Bachelor of Technology (B.Tech)	"	,
"	    Bachelors of Technology (B.Tech)	"	,
"	    Bachelor of Unani Medicine & Surgery (B.U.M.S)	"	,
"	    Bachelor of Veterinary Science (B.V.Sc)	"	,
"	    Bachelor of Medicine (Bachelor of Medicine)	"	,
"	    Bachelor of Journalism and Mass Communication (BJMC)	"	,
"	    Diploma in Special Education (D.S.E (CP))	"	,
"	    Bachelor of Unani Medicine & Surgery (Kamil e Tob o Jarahat)	"	,
"	    Bachelor of Law (LL.B)	"	,
"	    Bachelor of Medicine Bachelor of Surgery (M.B.B.S)	"	,
"	    Master of Journalism and Mass Communication (MJMC)	"	,
"	    Doctor of Philosophy (Ph. D)	"	,
"	    Clinical Psychology (Psy.D (Cl.Psy))	"	

